@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fonte-primaria: "Poppins", sans-serif;
    --azul-mais-usado: #367AF7;
    --azul-menos-usado: #285aa8;
}

body, html {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.conteudo-principal {
    background-color: rgb(54, 122, 247);
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 650;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 10px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

th {
    background-color: #367AF7;
    color: white;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

.invisivel {
    display: none;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

button {
    padding: 8px 12px;
    background-color: #367AF7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}

button:hover {
    background-color: #285aa8;
}

.cadastro-01 {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin: 3rem;
    gap: 1rem;
    border: 1px solid black;
    border: none;
    box-shadow: 4px 4px 10px grey;
}

.cadastro-02 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
}

.form-card {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-family: "Poppins", sans-serif;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"], #cancelarCadastro {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #367AF7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover, #cancelarCadastro:hover {
    background-color: #285aa8;
}

.info-empresa{
    background-color: rgb(54, 122, 247);
}